.user-details
  .user-details_profile
    .user-details_profile_box
      .user-details_profile_box_icon
        %img{alt: "メルカリ", height: "180px", width: "180px", src: "http://static.mercdn.net/images/mercari_profile.png", class: "user-container_right-content_info_head_icon_image"}
      .user-details_profile_box_name
        = @user.nickname
      .user-details_profile_info
        %span.user-details_profile_info_list
          評価20
        %span.user-details_profile_info_list
          出品数5
  .user-details_info
    .user-details_info_review
      %span.user-details_info_review_icon
        %i.fa.fa-laugh{class: "user-details_info_review_icon_size good-icon"}
        %span.user-details_info_review_icon_number
          20
      %span.user-details_info_review_icon
        %i.fa.fa-meh{class: "user-details_info_review_icon_size normal-icon"}
        %span.user-details_info_review_icon_number
          20
      %span.user-details_info_review_icon
        %i.fa.fa-tired{class: "user-details_info_review_icon_size bad-icon"}
        %span.user-details_info_review_icon_number
          20
    .user-details_info_description
      = @user.user_profile.introduction
  .user-details_description_social
    .user-details_description_social_box
      = link_to users_path do
        %i.fab.fa-facebook-square{class: "user-details_description_social-icon facebook-icon"}
      = link_to users_path do
        %i.fab.fa-twitter-square{class: "user-details_description_social-icon twitter-icon"}
      = link_to users_path do
        %i.fab.fa-line{class: "user-details_description_social-icon line-icon"}

