.user-details
  .user-details_profile
    .user-details_profile_box
      .user-details_profile_box_icon
        %img{alt: "メルカリ", height: "180px", width: "180px", src: "http://static.mercdn.net/images/mercari_profile.png", class: "user-container_right-content_info_head_icon_image"}
      .user-details_profile_box_name
        = @user.nickname
      .user-details_profile_info
        %span.user-details_profile_info_list
          評価
          = @review_count
        %span.user-details_profile_info_list
          出品数
          = @user.exhibits.count
  .user-details_info
    .user-details_info_review
      %span.user-details_info_review_icon
        %i.fa.fa-laugh{class: "user-details_info_review_icon_size good-icon"}
        %span.user-details_info_review_icon_number
          = @review_good_count
      %span.user-details_info_review_icon
        %i.fa.fa-meh{class: "user-details_info_review_icon_size normal-icon"}
        %span.user-details_info_review_icon_number
          = @review_normal_count
      %span.user-details_info_review_icon
        %i.fa.fa-tired{class: "user-details_info_review_icon_size bad-icon"}
        %span.user-details_info_review_icon_number
          = @review_bad_count
    .user-details_info_description
      = @user.user_profile.introduction
  .user-details_description_social
    .user-details_description_social_box
      = link_to users_path do
        %i.fab.fa-facebook-square{class: "user-details_description_social-icon facebook-icon"}
      = link_to users_path do
        %i.fab.fa-twitter-square{class: "user-details_description_social-icon twitter-icon"}
      = link_to users_path do
        %i.fab.fa-line{class: "user-details_description_social-icon line-icon"}
  .user-details_items
    %h2.user-details_items_title この出品者の商品
    .user-details_items_content
      - @exhibits.each do |exhibit|
        .user-details_items_content_box
          = link_to item_path(exhibit.item.id) do
            - if exhibit.status == 3
            - else
              %section
                - if exhibit.status == 1
                  %p
                    =image_tag("#{exhibit.item.item_images[0].image}", id: "photoMain",alt: "#{exhibit.item.name}", width: "200px", height: "240px")
                - else
                  %p
                    =image_tag("#{exhibit.item.item_images[0].image}", id: "photoMain",alt: "#{exhibit.item.name}", width: "200px", height: "240px")
                    %br SOLD OUT
                %p
                  = exhibit.item.name
                %p
                  ¥
                  = exhibit.item.price
                  (税込)

