- breadcrumb :users
.user-main
  .user-container
    = render 'users/sidebar'
    .user-container_right-content
      .user-container_right-content_address
        %h2.user-container_right-content_address_chapter 本人情報の登録
        .user-container_right-content_address_content
          .user-container_right-content_address_content_description
            %p
              お客様の本人情報をご登録ください。
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.user-container_right-content_address_content_description--link
              %a{href: ""}
                本人書類のアップロードについて＞
          .user-container_right-content_address_content_form-group
            %label お名前
            %p #{@user_profile.last_name} #{@user_profile.first_name}
          .user-container_right-content_address_content_form-group
            %label お名前カナ
            %p #{@user_profile.last_name_kata} #{@user_profile.first_name_kata}
          .user-container_right-content_address_content_form-group
            %label 生年月日
            %p #{@user_profile.birth}
          .user-container_right-content_address_content_form-group
            %label{for: "postal_code"} 郵便番号
            %span.form-arbitrary 任意
            %input.input-default{name: "postal_code", placeholder: "例）1234567", type: "text", value: "#{@address.postal_code}"}/
          .user-container_right-content_address_content_form-group
            %label{for: "prefecture"} 都道府県
            %span.form-arbitrary 任意
            .user-container_right-content_address_content_select-wrap
              %select.user-container_right-content_address_content_select-default{name: "prefecture"}
                - if @address.prefecture.present?
                  %option #{@address.prefecture}
                %option --
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県

          .user-container_right-content_address_content_form-group
            %label{for: "city"} 市区町村
            %span.form-arbitrary 任意
            %input.input-default{name: "city", placeholder: "例）横浜市青葉区", type: "text", value: "#{@address.city}"}/
          .user-container_right-content_address_content_form-group
            %label{for: "town_number"} 番地
            %span.form-arbitrary 任意
            %input.input-default{name: "town_number", placeholder: "例）青山1−1−1", type: "text", value: "#{@address.town_number}"}/
          .user-container_right-content_address_content_form-group
            %label{for: "building_label"} 建物名
            %span.form-arbitrary 任意
            %input.input-default{name: "building", placeholder: "例）柳ビル103", type: "text", value: "#{@address.building}"}/
          %button.user-container_right-content_address_content_btn-default{type: "submit"} 登録する
          .user-container_right-content_address_content_form-group.text-right
            %p
              %a{href: ""}
                本人情報について＞
