.swiper-container
  .swiper-wrapper
    -# slides
    .swiper-slide
      = image_tag 'banner-new-life.jpg', alt: 'swipe01'
      .swiper-button-prev
      .swiper-button-next
    .swiper-slide
      = image_tag 'banner-bokurano-heisei.jpg', alt: 'swipe02'
      .swiper-button-prev
      .swiper-button-next
    .swiper-slide
      = image_tag 'banner-new-register.jpg', alt: 'swipe03'
      .swiper-button-prev
      .swiper-button-next
    
      .swiper-pagination
.pickup-container

  %h2 ピックアップカテゴリー 
  %h3
    =link_to "レディース新着アイテム","/"
  .pickup-container__item-boxs
    -@items1.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる","/"
  %h3
    =link_to "メンズ新着アイテム","/"
  .pickup-container__item-boxs
    -@items2.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる","/"
  %h3
    =link_to "ベビー・キッズ新着アイテム","/"
  .pickup-container__item-boxs
    -@items3.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる","/"
  %h3
    =link_to "インテリア・住まい・小物新着アイテム","/"
  .pickup-container__item-boxs
    -@items4.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる","/"
  %h2 ピックアップブランド
  %h3
    =link_to "シャネル新着アイテム","/"
  .pickup-container__item-boxs
    -@items11.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる",""
  %h3
    =link_to "ルイヴィトン新着アイテム","/"
  .pickup-container__item-boxs
    -@items22.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる","/"
  %h3
    =link_to "シュプリーム新着アイテム","/"
  .pickup-container__item-boxs
    -@items33.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
  .view-all.clearfix
    =link_to "すべての商品をみる","/"
  %h3
    =link_to "ナイキ新着アイテム","/"
  .pickup-container__item-boxs
    -@items44.each do |item|
      .pickup-container__item-boxs__box
        .pickup-container__item-boxs__box__image
          =image_tag(item.description,class: "images")
        .pickup-container__item-boxs__box__text
          .pickup-container__item-boxs__box__text__title #{item.name}
          .pickup-container__item-boxs__box__text__num

            %span.like-num 15
            =fa_icon "heart",class:"icon-like"
            .pickup-container__item-boxs__box__text__num__price ¥#{item.price}
          .pickup-container__item-boxs__box__text__title__tax (税込)
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"

