.itemDetail-bread-crumbs
  %ul
    %li
      = link_to 'メルカリ', '/'
    %li
      %span
        アイテム名（パンくず）

.itemDetail
  %h1.itemDetail__title
    = @item.name
  .itemDetail__main
    .itemDetail__main__photo
      .itemDetail__main__photo__top{style: "width: 300px;"}
        - if @item.exhibit.status === 2
          .itemDetail__main__photo__soldOut
        - elsif  @item.exhibit.status === 3
          .itemDetail__main__photo__soldStop
        - else
        =image_tag("#{@item.item_images[0].image}", id: "photoMain", "data-url": "#{@item.item_images[0].image}" ,alt: "bag1")
      .itemDetail__main__photo__bottomBox
        - @item.item_images.each do |image|
          .itemDetail__main__photo__bottomBox__bottom
            =image_tag("#{image.image}", class: "photosub", id: "photoSub","data-url": "#{image.image}",alt: "#{@item.name}")
    %div
      %table.itemDetail__main__table
        %tbody
          %tr
            %th 出品者
            %td
              
              = link_to"#{@item.exhibit.user.nickname}",user_path(@item.exhibit.user.id)
              %div
                .itemDetail__main__tablel__itemUserRatings
                  =image_tag("icon-good.png",size: "16x16")
                  %span 2
                .itemDetail__main__tablel__itemUserRatings
                  =image_tag("icon-normal.png",size: "16x16")
                  %span 10
                .itemDetail__main__tablel__itemUserRatings
                  =image_tag("icon-bad.png",size: "16x16")
                  %span 999
            %tr
              / 一枠
              %th カテゴリー
              %td
                = link_to category_path(@category.parent.parent.id) do
                  #{@category.parent.parent.name}
                  %div
                = link_to category_path(@category.parent.id)  do
                  %i=fa_icon "chevron-right",class:"itemDetail__icon-arrow-right"
                  #{@category.parent.name}
                  %div
                = link_to category_path(@category.id)  do
                  %i=fa_icon "chevron-right",class:"itemDetail__icon-arrow-right"
                  #{@category.name}
            %tr
              / 一枠
              %th ブランド
              %td
                = link_to @brand.name, "/"
            %tr
              / 一枠
              %th 商品の状態
              %td
                = @item.status
            %tr
              / 一枠
              %th 配送料の負担
              %td
                = @item.shipping_fee
            %tr
              / 一枠
              %th 配送の方法
              %td
                = @item.how_to_shipping
            %tr
              / 一枠
              %th 配送元地域
              %td
                =  @item.prefecture.name
                -# = link_to '東京都', 'show'
            %tr
              / 一枠
              %th 配送日の目安
              %td
                = @item.day
    .clearBoth
    .itemDetail__price
      %span.itemDetail__price__itemPrice
        = converting_to_jpy(@item.price)
        -# = @item.price
        -#  ¥ 3,380
      %span.itemDetail__price__tax (税込)
      %span.itemDetail__price__shippingFee
        送料込み
        -# -if @item.day == "送料込み(出品者負担)"
        -#   送料込み
        -# -else
        -#   着払い
    - if @item.exhibit.status == 2
      .itemDetail__buyBtn 売り切れました
    - elsif @item.exhibit.status == 3
      - if user_signed_in? && @item.exhibit.user.id == current_user.id
        .itemDetail__buyBtn 商品の編集
        %br or
        %br
        = link_to resale_item_path, method: :post do
          .itemDetail__buyBtn 出品を再開する
        .itemDetail__buyBtn この商品を削除する
    - else
      - if user_signed_in? && @item.exhibit.user.id == current_user.id
        .itemDetail__buyBtn 商品の編集
        %br or
        %br
        = link_to stop_item_path, method: :post do
          .itemDetail__buyBtn 出品を一旦停止する
        .itemDetail__buyBtn この商品を削除する
      - else
        =link_to "購入画面に進む" , item_purchases_path(@item) ,class: "itemDetail__buyBtn"
    .itemDetail__description
      %p.itemDetail__description__inner
        = @item.description
    .itemDetail__button.clearfix
      .itemDetail__button__left
        =button_tag class: "itemDetail__button__left__like" do
          -# いいね非同期実装
          = render partial: 'favorite_items/favorite_item', locals: {item: @item}
        =button_tag class: "itemDetail__button__left__report" do
          %i=fa_icon "flag",class:"itemDetail__icon__flag"
          %span 不適切な商品の報告
      .itemDetail__button__right
        = link_to 'show' do
          %i=fa_icon "flag",class:"itemDetail__icon__clock"
          あんしん・あんぜんへの取り組み
  .itemComment-itemPostBox
    .itemComment
      .itemComment__content
        %ul.itemComment__content__item
          - @comments.each do |comment|
            - if user_signed_in?
              -# ログイン時のコメント画面
              - if comment.user.id == current_user.id
                -# 自分のビュー
                %li.itemCommentMe__content__item__cl.clearfix
                  .itemCommentMe__content__item__cl__user
                    = link_to user_path(comment.user) do
                      %div
                        =image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png",alt: "usre", height: "40px", width: "40px")
                      .clearBoth
                      .itemCommentMe__content__item__cl__userName 
                        = comment.user.nickname
                      - if comment.user.id == @item.exhibit.user.id
                        .itemComment__content__item__cl__seller
                          %p 出品者
                  .itemCommentMe__content__item__cl__body
                    .itemCommentMe__content__item__cl__body__text
                      = comment.content
                    .itemCommentMe__content__item__cl__body__icon.clearfix
                      %time.itemCommentMe__content__item__cl__body__icon__left
                        %i.itemCommentMe-icon-time
                          %i.far.fa-clock
                        %span
                          = date_format(comment.created_at)
                      - if current_user.id == @item.exhibit.user.id
                        .itemCommentMe__content__item__cl__body__icon__right__delete
                          = link_to item_comment_path(comment.item.id, comment.id) , method: :patch, data: { confirm: 'コメントを削除しますか?' } do 
                            %i=fa_icon "trash",class:"itemComment__icon__delete"
                      .itemCommentMe__content__item__cl__body__icon__right__flag
                        %form{action: "", method: ""}
                          = button_tag type: "submit" do
                            %i=fa_icon "flag",class:"itemComment__icon__flag"
              - else
                -# 他の人のコメント
                = render partial: 'left-comment', locals: { comment: comment }
            - else
              -# ログインしていない時のコメント画面
              = render partial: 'left-comment', locals: { comment: comment }
        .clearBoth
    .itemPostComment
      = form_for [@item, @comment],  html: { class: 'itemPostComment__form' } do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_field :content, class: 'itemPostComment__form__text'
        - if @item.exhibit.status === 2
          %span.itemPostComment__form__btn 売り切れのためコメントできません
        - elsif @item.exhibit.status === 3
          %span.itemPostComment__form__btn 公開停止中のためコメントできません
        - else
          =button_tag type: "submit" , class: "itemPostComment__form__btn" do
            %span コメントする
