-breadcrumb :card 
.user-main
  .user-container
    = render './users/sidebar'
    .user-container_right-content
      .user-container_right-content_form
        .user-container_right-content__head
          %h2 クレジットカード情報入力
        .user-container_right-content__detail
          = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
            .user-container_right-content__detail__content
              .user-container_right-content__detail__content__group
                %label カード番号
                %em
                  必須
                %br
                = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
                %br
                %img{src: "https://about.mercari.com/wordpress/wp-content/uploads/2016/11/jcb.png", height: "70px"}
              .user-container_right-content__detail__content__group
                %label 有効期限
                %em
                  必須
                %br
                = select_tag :exp_month, options_for_select(01..12)
                %span 月
                %br
                = select_tag :exp_year, options_for_select(2019..2029)
                %span 年
                %br
              .user-container_right-content__detail__content__group
                %label セキュリティコード
                %em
                  必須
                %br
                = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
                %p.user-form__main__box__link
                  %a{href: "https://www.mercari.com/jp/help_center/article/244/", target: "_blank"} カード裏面の番号とは？
              .user-container_right-content__detail__content__group
                #card_token
                = submit_tag "追加する", id: "token_submit"
