-breadcrumb :brands
.brand-container
  %h2.brand-container__title カテゴリー一覧
  .brand-container__parent-box
    -@parents.each do |parent|
      =link_to "#{parent.name}","",class: "parent-link1",id: "parent-link"
  .brand-container__initial-box
    -@sort.each do |sort|
      -# .brand-container__initial-box__initial
       
      -#   =link_to"#{sort}|","",class: "parent-link1"

  -@parents.each_with_index do |parent,index|
    
    .brand-container__list-box
      .brand-container__list-box__parent-title #{parent.name}
      .brand-container__list-box__inner-box#parent.name
        %p.brand-container__list-box__inner-box__ladies-all
          = link_to "すべて",category_path(parent.id)
        -@sort.each do |sort|
          -unless Brand.where("name LIKE?", ""+sort+"%") == []
            .brand-container__list-box__inner-box__sub-title{id:"brand#{index}"}
              %h4 #{sort}
              .brand-container__list-box__inner-box__container
                .brand-container__list-box__inner-box__container__title
                  -unless Brand.where("name LIKE?", ""+sort+"%") == []
                    %p
                      = link_to "すべて",search_path(Brand.where("name LIKE?", ""+sort+"%").ids)
              -Brand.where("name LIKE?", ""+sort+"%").each do |grandchaild|
                .brand-container__list-box__inner-box__container__title
                  %p
                    = link_to grandchaild.name,brand_path(grandchaild.id)

