.category-container
  %h2.category-container__title カテゴリー一覧
  .category-container__parent-box
    -@parents.each_with_index do |parent,index|
      =link_to "#{parent.name}",{ anchor: "brand#{index}" },class: "parent-link",id: "parent-link#{index}"
  .category-container__initial-box
    -@sort.each do |sort|
      .category-container__initial-box__initial
        =link_to"#{sort}|","/"

  -@parents.each_with_index do |parent,index|
    .category-container__list-box{id:"brand#{index}"}
      .category-container__list-box__parent-title #{parent.name}
      .category-container__list-box__inner-box#parent.name
        %p.category-container__list-box__inner-box__ladies-all
          = link_to "すべて","/"
        -@sort.each do |sort|
          .category-container__list-box__inner-box__sub-title
            %h4 #{sort}
            .category-container__list-box__inner-box__container
              .category-container__list-box__inner-box__container__title
                %p
                  = link_to "すべて","category_path" 
              -Brand.where("name LIKE?", ""+sort+"%").each do |grandchaild|
                .category-container__list-box__inner-box__container__title
                  %p
                    = link_to "#{grandchaild.name}"
                    
