.user-form
  %main.user-form__main
    .user-form__main__warpper
      %h2.user-form__main__data.user-registration_form_title1
        会員情報入力
      %h2.user-form__main__data.user-registration_form_title2.hide
        携帯電話の番号を入力
      %h2.user-form__main__data.user-registration_form_title3.hide
        配送元・お届け先住所入力
      %h2.user-form__main__data.user-registration_form_title4.hide
        支払い方法
      %h2.user-form__main__data.user-registration_form_title5.hide
        確認画面
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .user-form__main__box
          -# = render "devise/shared/error_messages", resource: resource
          -# = f.fields_for :user do |f|
          .user-registration_form_container1
            .field.nickname
              = f.label :"ニックネーム"
              %em
                必須
              %br/
              = f.text_field :nickname, autofocus: true, placeholder: "例)メルカリ太郎", class: "user-form__main__name__text"
            .field.email
              = f.label :"メールアドレス"
              %em
                必須
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
            .field.password
              = f.label :"パスワード"
              - if @minimum_password_length
                %em
                  必須
              %br/
              = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上"
            .field.password_confirmation
              = f.label :"パスワード(確認)"
              %em
                必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上"
            .field
              = f.label :"本人確認"
              %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          = f.fields_for :user_profile do |f|
            .user-registration_form_container1
              .field.last_name
                = f.label :"姓 (全角)"
                %em
                  必須
                %br/
                = f.text_field :last_name, autofocus: true, placeholder: "例) 山田"
              .field.first_name
                = f.label :"名 (全角)"
                %em
                  必須
                %br/
                = f.text_field :first_name, autofocus: true, placeholder: "例) 彩"
              .field.last_name_kata
                = f.label :"姓カナ (全角)"
                %em
                  必須
                %br/
                = f.text_field :last_name_kata, autofocus: true, placeholder: "例) ヤマダ"
              .field.first_name_kata
                = f.label :"名カナ (全角)"
                %em
                  必須
                %br/
                = f.text_field :first_name_kata, autofocus: true, placeholder: "例) アヤ"
              .field
                = f.label :"生年月日"
                %em
                  必須
                %br
                .user-form__main__box__birthday
                  = f.date_select(:birth,
                      use_month_numbers: true,   
                      start_year:     1930,
                      end_year:       (Time.now.year),
                      default:        Date.new(1989, 1, 1),
                      date_separator: '年') 
                  %p
                    ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
              .field
                = f.label :"私はロボットではありませんを置く"
              .field
                %p.center
                  「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
              .field
                .next1 次へ進む
              .field
                %p.user-form__main__box__link
                  %a{href: "https://www.mercari.com/jp/help_center/article/244/", target: "_blank"} 本人情報の登録について>
          = f.fields_for :user_profile do |f|
            .user-registration_form_container2.hide
              .field.tel
                = f.label :"携帯電話の番号"
                %br/
                = f.text_field :tel, autofocus: true, placeholder: "携帯電話の番号を入力"
                %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              .field
                .next2 SMSを送信する
                %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .field
                %p.user-form__main__box__link
                  %a{href: "https://www.mercari.com/jp/help_center/article/244/", target: "_blank"} 電話番号の確認が必要な理由>
          = f.fields_for :address do |f|
            .user-registration_form_container3.hide
              .field.address_last_name
                = f.label :"姓 (全角)"
                %em
                  必須
                %br/
                = f.text_field :last_name, autofocus: true, placeholder: "例) 山田"
              .field.address_first_name
                = f.label :"名 (全角)"
                %em
                  必須
                %br/
                = f.text_field :first_name, autofocus: true, placeholder: "例) 彩"
              .field.address_last_name_kata
                = f.label :"姓カナ (全角)"
                %em
                  必須
                %br/
                = f.text_field :last_name_kata, autofocus: true, placeholder: "例) ヤマダ"
              .field.address_first_name_kata
                = f.label :"名カナ (全角)"
                %em
                  必須
                %br/
                = f.text_field :first_name_kata, autofocus: true, placeholder: "例) アヤ"
              .field.address_postal_code
                = f.label :"郵便番号"
                %em
                  必須
                %br/
                = f.text_field :postal_code, autofocus: true, placeholder: "例) 000-0000"
              .field.address_prefecture
                = f.label :"都道府県"
                %em
                  必須
                %br/
                -# .user-form__main__box__prefecture
                  -# = f.select :prefecture, [["北海道", "北海道"], ["青森県", "青森県"],  ["岩手県", "岩手県"], ["宮城県", "宮城県"],["秋田県", "秋田県"],["山形県", "山形県"],["福島県", "福島県"],["茨城県", "茨城県"],["栃木県", "栃木県"],["群馬県", "群馬県"],["埼玉県", "埼玉県"],["千葉県", "千葉県"],["東京都", "東京都"],["神奈川県", "神奈川県"],["新潟県", "新潟県"],["富山県", "富山県"],["石川県", "石川県"],["福井県", "福井県"],["山梨県", "山梨県"],["長野県", "長野県"],["岐阜県", "岐阜県"],["静岡県", "静岡県"],["愛知県", "愛知県"],["三重県", "三重県"],["滋賀県", "滋賀県"],["京都府", "京都府"],["大阪府", "大阪府"],["兵庫県", "兵庫県"],["奈良県", "奈良県"],["和歌山県", "和歌山県"],["鳥取県", "鳥取県"],["島根県", "島根県"],["岡山県", "岡山県"],["広島県", "広島県"],["山口県", "山口県"],["徳島県", "徳島県"],["香川県", "香川県"],["愛媛県", "愛媛県"],["高知県", "高知県"],["福岡県", "福岡県"],["佐賀県", "佐賀県"],["長崎県", "長崎県"],["熊本県", "熊本県"],["大分県", "大分県"],["宮崎県", "宮崎県"],["鹿児島県", "鹿児島県"],["沖縄県", "沖縄県"] ],  :prompt => "選択してください"
                = f.collection_select :prefecture, Prefecture.all, :id, :name, {include_blank: "--", required:"required"}, {class: "user-form__main__box__prefecture"}
              .field.address_city
                = f.label :"市町村"
                %em
                  必須
                %br/
                = f.text_field :city, autofocus: true, placeholder: "例) 渋谷区"
              .field.address_town_number
                = f.label :"番地"
                %em
                  必須
                %br/
                = f.text_field :town_number, autofocus: true, placeholder: "例) 道玄坂２丁目２３−１２"
              .field
                = f.label :"建物"
                %em
                  任意
                %br/
                = f.text_field :building, autofocus: true, placeholder: "例) フォンティスビル7F"
              .field
                = f.label :"電話番号"
                %em
                  任意
                %br/
                = f.text_field :tel, autofocus: true, placeholder: "例) 050-3187-3522"
              .field
                .next3 次へ進む
          = f.fields_for :card do |f|
            .user-registration_form_container4.hide
              .field.card_number
                = f.label :"カード番号"
                %em
                  必須
                %br/
                = f.text_field :card_number, autofocus: true, placeholder: "半角数字のみ"
                %img{src: "https://about.mercari.com/wordpress/wp-content/uploads/2016/11/jcb.png", width: "300px"}
              .field.card_limit
                = f.label :"有効期限"
                %em
                  必須
                %br/
                .user-form__main__box__card-limit
                  = f.select :card_limit_month, [["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"],["11", "11"],["12", "12"]], prompt: "--"
                  %br
                  = f.select :card_limit_year, [["19", "19"], ["20", "20"],  ["21", "21"], ["22", "22"],["23", "23"]], prompt: "--"
              .field.card_cord
                = f.label :"セキュリティコード"
                %em
                  必須
                %br/
                = f.text_field :card_cord, autofocus: true, placeholder: "カード背面4桁もしくは3桁の番号"
              .field
                %p.user-form__main__box__link
                  %a{href: "https://www.mercari.com/jp/help_center/article/244/", target: "_blank"} カード裏面の番号とは？
              .field
                .next4 次へ進む
          .user-registration_form_container5.hide
            .field
              %p.center
                ありがとうございます。
                %br
                会員登録が完了しました。
            .field
              = f.submit "メルカリを始める", class: "submit-btn"
